
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DDD</title> 
</head>
<body>
    <p> Something</p> <!---->
</body>
</html>
